body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1b1e20;
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100vw;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.join-room {
    display: flex;
}

.join-room input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #51575f;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.join-room button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #1b1e20;
}


button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #51575f;
    color: #ffffff;
    cursor: pointer;
}

.room-info {
    display: flex;
}

.copy-button {
    background-color: #ffffff00;
}

.copy-button:hover {
    color: #8f8f8f;
}

.choices {
    display: flex;
    gap: 20px;
}

button:active {
    background-color: #3e4245;
}